<header class="Header">
  <img class="Logo" src="/assets/logo.svg" alt="EshkinCat" draggable="false">

  <sk-menu>
    <sk-menu-item>
      <a class="MenuLink" href="">О нас</a>
    </sk-menu-item>

    <sk-menu-item>
      <a class="MenuLink" href="">Портфолио</a>
    </sk-menu-item>

    <sk-menu-item>
      <a class="MenuLink" href="/">Мастер классы</a>
    </sk-menu-item>

    <sk-menu-item>
      <a class="MenuLink" href="/">Как мы работаем</a>
    </sk-menu-item>

    <sk-menu-item>
      <a class="MenuLink" href="/">Блог</a>
    </sk-menu-item>
  </sk-menu>
</header>


<section class="Welcome">
  <h1 class="Title">Добро пожаловать на EshkinCat</h1>
  <p>
    ДИЗАЙН и ПОШИВ ДЕТСКОЙ ОДЕЖДЫ
    м.т. 8 97 87 90 90 31
  </p>
</section>


<aside class="Meta">
  v[[appVersion]] - ENV: [[ENV]]
</aside>


